@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #39FF14;
  --color-secondary: #1A1A1A;
  --color-accent: #FF0000;

  --font-sans: var(--font-outfit);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}